body{
    font-size: 1rem;
    color: #fff;
    background-color: #0a366e;
    font-family: 'Acme', sans-serif;
}

/* HEADER */

.navbar{
    padding: 0;
    margin-bottom: 3rem;
}
.container-fluid{
    background-color: #680468;
    border: 0;
    border-radius: 0;
}
#menu-button {
    background-color: #524397;
    color: rgb(0 0 0);
    border-color: rgb(0 0 0);
    border-radius: .6rem;
}
#menu-button:hover{
    background-color: #fff;
}

.navbar-brand{
    font-size: 3rem;
    text-shadow: .1rem .1rem .2rem #63459b;
    margin-right: 0;
    margin: 0;
}
.navbar-brand:hover{
    text-shadow: .1rem .1rem .2rem #ffffff;
    

}
#navbarSupportedContent a{
    text-align: center;
    font-size: 2rem;
    text-shadow: .1rem .1rem .2rem #63459b;


}
#menu-content .container{
    padding: 0;
}
#menu-content .row{
    margin: 3rem ;
    padding-left: 0;
    display: flex;
    align-items: center;

}

.menu-tile{
    background-color: grey;
    margin: .4rem;
}